.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 42px;
  text-align: center;
}

.textarea {
  margin: 0 auto;
  padding: 15px;
  width: 60%;
  height: 400px;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  border: 3px solid black;
  outline: none;
  background: #00b800;
}

.textarea:disabled {
  background-color: #a5a2a2;
}

.button {
  display: block;
  margin: 0 auto;
  padding: 15px 30px;
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
  border: none;
  background: #a80020;
  background: #00b800;
  text-transform: uppercase;
  cursor: pointer;
}

.button:disabled {
  cursor: not-allowed;
}